/*main.blade.php*/
body{
    background-color: rgb(15 23 42);
    color: rgb(255 255 255);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* ::-webkit-scrollbar{
    display: none;
} */
.heading{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(15 23 42);
    background-color: rgb(147 197 253);
    width: fit-content;
    padding: 4px;
    margin: 12px 0;
}
nav{
    background-color: rgb(30 41 59);
    width: 100vw;
    margin: 0;
    display: flex;
    height: fit-content;
    padding: 5px;
}
.kreska{
    height: 50px;
    width: 3px;
}
.nav-img{
    margin: 0;
    height: 50px;
    width: 50px;
}
.nav-list{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    /* transform: translateX(62px); (szerokosc buttona + jego margin) - szerokosc loga podzielona przez 2 */
    gap: 50px 0px;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
}
.nav-list-element-icon{
    float: left;
}
.nav-list-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.nav-list-element-a{
    font-size: x-large;
    padding: 7px 75px;
    border-radius: 15px / 50px;
}
.hover-and-hold:hover{
    background-color:rgb(23 32 46);
}
.hover-and-hold:focus{
    background-color: rgb(42 57 82);
}
.nav-button{
    background-color: rgb(42 57 82);
    height: 50px;
    width: 200px;
    border-radius: 15px / 50px;
    border: solid rgb(15 23 42) 3px;
    cursor: pointer;
    margin-right: 50px;
    color: white;
}
.nav-button:hover{
    background-color: rgb(23 32 46);
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(30 41 59);
}
/*END*/

/*quotes.blade.php*/
.quotes-grid-div{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
}
.quotes-character-chard{
    background-image: linear-gradient(90deg,rgb(153 246 228), rgb(17 94 89));
    border-radius: 24px;
    overflow: hidden;
    color: rgb(134, 239, 172);
    text-align: center;
}
/*END*/

/*quote_card.blade.php*/
.qoute-card-img{
    float: left;
}
.first-p{
    margin-top: 0;
}
figure{
    margin: 0;
    padding: 0;
}
figcaption{
    padding-top: 10px;
}
/*END*/

/*show and index.blade.php*/
.box{
    border: solid 1px black;
}
.box-link{
    color: rgb(203, 211, 48);
}
/*END*/

/*alerts.blafe.php*/
.alert{
    display: flex;
    border-radius: 2px;
    padding: 4px;
    margin: 20px;
    font-size: 14px;
    line-height: 20px;
}
.success{
    background-color: rgb(220 252 231);
    color: rgb(21 128 61);
}
.warning{
    background-color: rgb(254 249 195);
    color: rgb(161 98 7);
}
.error{
	background-color: rgb(254 226 226);
    color: rgb(185 28 28);
}
/*END*/